@import "./base.scss";
@import "./variables.scss";
@import "./spacing.scss";

.container {
  min-width: 1440px;
  min-height: 991px;
  background-color: $Verylightgrayishblue;
  display: flex;
  justify-content: center;
  align-items: center;

  &__card {
    width: 730px;
    height: 840px;
    border-radius: 20px;
    background-color: $White;

    .title-content {
      position: relative;
      margin-top: 40px;
      margin-left: 33px;
      margin-right: 33px;
      display: flex;
      justify-content: space-between;

      .title-notifications {
        font-weight: 800;
      }

      .number {
        position: absolute;
        border-radius: 7px;
        font-size: 16px;
        font-weight: 800;
        left: 165px;
        color: $White;
        background-color: $Verydarkblue;
        padding: 3px 13px 3px 13px;
      }

      .text {
        $Darkgrayishblue: hsl(219, 12%, 42%);
      }
    }

    .container-boxes {
      margin-top: 33px;

      .box {
        width: 667px;
        height: 77px;
        background-color: $Verylightgrayishblue;
        margin: 0 auto;
        margin-top: 10px;
        padding-left: 20px;
        border-radius: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        p {
          line-height: 25px;
          margin-left: 20px;

          .box-bold-color {
            color: $Darkgrayishblue;
          }

          .date {
            color: hsl(219, 14%, 63%);
            font-size: 15px;
          }
        }
      }

      .box-3 {
        @include box-2;
      }

      .box-2 {
        @include box-3;
      }
      
     .avatar-modifiquer {
        position: absolute;
        left: 600px;
      }
    }
  }
}